* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#nav-item{
    margin-left: 12rem;
}
#nav-item li{
    font-weight: bold;
}
#nav-item li:hover{
    font-weight: lighter;
}
#search-input{
    border-radius: 10px;
    height: 35px;
}
#search-button{
    background-color: black;
    color: white;
    border-radius: 12px;
    height: 35px;
    font-weight: bold;
}
#search-button:hover{
    background-color: white;
    color: black;
    outline: black 1px solid;
    border-radius: 12px;
}