* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#nav-item{
    margin-left: 12rem;
    margin-right: 50px;
}
#nav-item li{
    margin-left: 30px;
    font-weight: bold
}
#search-input{
    width: 20rem;
    border-radius: 10px;
    height: 35px;
}
#search-button{
    background-color: black;
    color: white;
    border-radius: 12px;
    width: 6rem;
    height: 35px;
    font-weight: bold;
}