* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
nav{
    background-color: rgba(255, 255, 255, 0.527);
}
.navbar-toggler-icon {
    border-color: rgb(25, 146, 9);
  }
#nav-item{
    margin-left: 12rem;
}
#nav-item li{
    font-weight: bold;
}
#nav-item li:hover{
    font-weight: lighter;
}
#search-input{
    border-radius: 10px;
    height: 35px;
}
#search-button{
    background-color: black;
    color: white;
    border-radius: 12px;
    height: 35px;
    font-weight: bold;
}
#search-button:hover{
    background-color: white;
    color: black;
    border-radius: 12px;
}
section.jumbotron{
    position: relative;
}
.hero-bg{
    background-image: url("https://raw.githubusercontent.com/poly4concept/Save-Nature/main/Images/hero.jpg");
    width: 100%;
    height: 50rem;
    position: absolute;
    z-index: -2;
    transform: translateY(-45%);
    border-radius: 0 0 0 54px;
}
#jumbotron-link{
    background-color: black;
    border-radius: 12px;
    height: auto;
    color: white;
}
#jumbotron-link:hover{
    color: green;
    background-color: white;
}

.about-section{
    margin-top: 250px;
}
#event-card{
    margin-right: 20rem;
}
#next-arrow{
    margin-top: 25rem;
    font-size: large;
    color: green;
    margin-right: -4rem;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
#input-design{
    margin-bottom: 10px;
}
#input-name{
    border: white 3px  solid;
    background-color: white;
    padding: 5px;
    width: 20rem;
    height: 3rem;
    color: black;
}
#input-email{
    border: white 3px  solid;
    background-color: white;
    padding: 5px;
    width: 20rem;
    height: 3rem;
    color: black;
}
#input-name:focus, #input-email:focus{
    outline: solid 1px rgb(33, 1, 51);
}
#submit-btn{
    width: 20rem;
    height: 3rem;
    background-color: red;
    border: red 1px solid;
    cursor: pointer;
    color: white;
    font-size: large;
    font-weight: bold;
}
#submit-btn:hover{
    background-color: white;
    color: green;
    border-radius: 10px;
}
#social-icons a{
    margin-right: 20px;
    color: white;
    font-size: large;
}
@media screen and (max-width:800px){
    #input-name, #input-email, #submit-btn{
        width: 16rem;
    }
    #next-arrow{
        margin-top: 72rem;
        margin-right: 6rem;
    }
}
